.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem;
}

.header__brand {
  font-size: 1.5em;
}

.header__menu {
  display: flex;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
}

.menu__item {
  margin-right: 15px;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
