<section class="frame container">
  <div class="report-container">
    <div class="header">
      <div class="side">
        <span class="text-big"> WEEKLY REPORT </span>
        <span class="text-normal"> 01. Feb - 07. Feb </span>
      </div>
      <div class="side text-end">
        <span class="text-normal"> Revenue </span>
        <span class="text-big"> $ 3621.79 </span>
      </div>
    </div>
    <div class="parameter-container">
      <div class="parameter">
        <span class="color bg-red"></span>
        <span class="text">Views </span>
      </div>
      <div class="parameter">
        <span class="color bg-blue"></span>
        <span class="text">Purchases </span>
      </div>
    </div>
    <div class="graphics">
      <div class="graphics-line"></div>
      <div class="graphics-line"></div>
      <div class="graphics-line"></div>

      <div class="graphic-data data-views">
        <svg>
          <polyline></polyline>
        </svg>
        <div class="graphic-data-points">
          <div class="point first">
            <div class="tooltip">450</div>
          </div>
          <div class="point second">
            <div class="tooltip">812</div>
          </div>
          <div class="point third">
            <div class="tooltip">746</div>
          </div>
          <div class="point fourth">
            <div class="tooltip">877</div>
          </div>
          <div class="point fifth">
            <div class="tooltip">517</div>
          </div>
          <div class="point sixth">
            <div class="tooltip">434</div>
          </div>
          <div class="point seventh">
            <div class="tooltip">458</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
