@font-face {
  font-family: "Roboto";
  src: url("/assets/Roboto-Regular.ttf") format("truetype");
}

body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.frame {
  width: 400px;
  height: 400px;
}
